body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

#linkInfoContainer {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
